<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="d-flex align-items-center justify-content-between">
            <input [(ngModel)]="nickname" placeholder="Nickname" class="form-control mr-2">
            <input [(ngModel)]="password" placeholder="Password" type="password" class="form-control mr-2">
            <button (click)="login()" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  