.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.image-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.no-image-text {
    margin: 0;
  }
  